<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Navbar Fragment - Reutilizável em todas as páginas -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-danger shadow-sm">
        <div class="container-fluid px-4">
            <a class="navbar-brand d-flex align-items-center" th:href="@{/emergencia}">
                <i class="fa-solid fa-plus me-2"></i>
                <span class="fw-bold">SOS Engasgo</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- Link Emergência - visível para todos usuários autenticados -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/emergencia}">
                            <i class="fa-solid fa-bell me-1"></i>
                            Emergência
                        </a>
                    </li>
                    
                    <!-- Link Gestão - visível apenas para GESTOR -->
                    <li class="nav-item" sec:authorize="hasRole('GESTOR')">
                        <a class="nav-link" th:href="@{/gestao/dashboard}">
                            <i class="fa-solid fa-cog me-1"></i>
                            Gestão
                        </a>
                    </li>
                    
                    <!-- Dropdown de usuário -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-user-circle me-1"></i>
                            <span sec:authentication="name">Usuário</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" th:href="@{/gestao/perfil}">
                                <i class="fa-solid fa-user me-2"></i>Meu Perfil
                            </a></li>
                            <li><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-info-circle me-2"></i>Ajuda
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/logout}" method="post" class="m-0">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="dropdown-item">
                                        <i class="fa-solid fa-sign-out-alt me-2"></i>Sair
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
